cache
*-merged.owl
*-merged-*.owl
.DS_Store
*.tmp
*.old
monarch-merged*
*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/mo.owl
src/ontology/mo.obo
src/ontology/mo.json
src/ontology/mo-base.*
src/ontology/mo-basic.*
src/ontology/mo-full.*
src/ontology/mo-simple.*
src/ontology/mo-simple-non-classified.*
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
src/patterns/imports/seed_sorted.txt
src/ontology/ed_definitions_merged.owl
src/ontology/patterns 
*.tmp.obo
*.tmp.owl
*_import.obo
*_import.json
src/patterns/pattern_owl_seed.txt
src/patterns/all_pattern_terms.txt
src/ontology/simple_seed.txt
src/ontology/merged-mo-edit.owl
imports/
reports/
components/
/mo-*
/mo.*
src/ontology/monarch-pre.owl
src/ontology/monarch-inferred.owl
src/ontology/monarch-pre-nothing.owl
